@import "tailwindcss";

:root {
  background: #171717;
  /* color: white; */
}

.orangeShadow {
  box-shadow: 4px 4px 1px 1px orange ;
}

.orangeShadow:hover {
  transform:  translate(4px, 4px );
  box-shadow: 0px 0px 1px 1px orange;
}

.greenShadow {
  box-shadow: 4px 4px 1px 1px green ;
}

.greenShadow:hover {
  transform:  translate(4px, 4px );
  box-shadow: 0px 0px 1px 1px green;
}

.ShadowBio {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.flyingBtn {
  background: #000000;
  color: #ffffff;
  box-shadow: 4px 4px 1px 1px white ;
  transition-duration: 200ms;
  cursor: pointer;
  display: flex; 
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem; 
  align-items: center;
}

.flyingBtn:hover {
  opacity: 0.75;
  transform:  translate(4px, 4px );
  box-shadow: 0px 0px 1px 1px white;
}



